pyrogram:
  api_id: {{ env.PYROGRAM_API_ID | int }}
  api_hash: "{{ env.PYROGRAM_API_HASH }}"
  session_name: {{ env.SESSION_NAME | default("user_session") }}

group:
  chat_id: {{ env.GROUP_CHAT_ID | int }}
  vote_option: "{{ env.GROUP_VOTE_OPTION | default("Go!") }}"
  vote_delay_seconds: {{ env.VOTE_DELAY_SECONDS | default(5) | int }}

event:
  schedule: {{ env.EVENT_SCHEDULE | parse_schedule_dsl | tojson }}

server:
  port: {{ env.PORT | default(8080) | int }}
  ping_url: {{ env.PING_URL }}
