pyrogram:
  api_id: {{ env.PYROGRAM_API_ID | int }}
  api_hash: "{{ env.PYROGRAM_API_HASH }}"

group:
  chat_id: {{ env.GROUP_CHAT_ID | int }}
  vote_option: "{{ env.GROUP_VOTE_OPTION | default("Go!") }}"

database:
  path: "{{ env.DATABASE_PATH | default('users.db') }}"

server:
  port: {{ env.PORT | default(8080) | int }}

manager:
  bot_token: "{{ env.BOT_TOKEN }}"
